body {
    background: linear-gradient(to right, rgba(135, 180, 106, 0.5) 50%, transparent 50%);
    background-size: cover;
    background-position: center;
}

header {
display: flex;
justify-content: space-between;
margin-right: 5vw;
}

.containerMain {
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.containerContent {
    width: 50%;
}

.containerExtra {
    width: 50%;
    display: flex;
    justify-content: center;
}

#progress {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background: #87B46A;
}

h1 {
    width: 675px;
    height: 77px;
    color: #000;
    font-family: Gabarito;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 150px; 
}

h2 {
    width: 334px;
    height: 30px;
    color: #000;
    font-family: Gabarito;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 120px;
}

h3 {
    color: #000;
    font-family: Gabarito;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

h4 {
    color: #000;
    font-family: Gabarito;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 0px;
    right: 20px;
}

p {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 500;
}

.weiterButton {
    width: 189px;
    height: 52px;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    margin: 50px 10px;
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
}

/* CSS für den Hover-Effekt */
.weiterButton:hover {
    background-color: #87B46A
        /* Hintergrundfarbe des Buttons bei Hover */
}
/* .nav {
    width: 131px;
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    font-family: Gabarito;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

@media screen and (min-width: 1084px) {
    /* CSS-Regeln, die für Bildschirme mit mindestens 600 Pixel Breite gelten */
}

#logo {
    width: 100px;
    height: 100px;
}

.menu a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-family: Gabarito;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu {
    display: flex;
}

/* On hover, the links will change color */
.menu a:hover {
    color: #87B46A;
}



.auswahl-container {
    display: flex;
    flex-direction: column;
}
.kategorie {
    padding: 40px; 
    border: 2px solid #83C459; 
    border-radius: 15px; 
    cursor: pointer;
    transition: background-color4r 0.3s; 
}
.kategorie:hover {
    background-color:#83C459; 

}

.burro {
    background-color: #83C459; 
}

.quadrat {
    width: 100px; /* Breite des Quadrats */
    height: 100px; /* Höhe des Quadrats */
    background-color: blue; /* Hintergrundfarbe */
    border-radius: 10px; /* Radius der abgerundeten Ecken (10px für ein Quadrat) */
    cursor: pointer; /* Ändert den Mauszeiger, um zu zeigen, dass das Element anklickbar ist */

}
