body {
    background: linear-gradient(to right, rgba(135, 180, 106, 0.5) 50%, transparent 50%);
    background-size: cover;
    background-position: center;
}

header {
display: flex;
justify-content: space-between;
margin-right: 5vw;
}

.containerMain {
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.containerContent {
    width: 50%;
}

.containerExtra {
    width: 50%;
    display: flex;
    justify-content: center;
}

#progress {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background: #87B46A;
}


.inhaltMain {
    padding-left: 60px;
    padding-right: 60px;
}


h1 {
    color: #000;
    font-family: Gabarito;
    font-size: 80px;
    font-weight: 900;
}

h2 {
    color: #000;
    font-family: Gabarito;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

h3 {
    color: #000;
    font-family: Gabarito;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

p {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 500;
}

/* Ladebalken */

.punktestand {
    width: 200px;
    /* Breite der Fortschrittsleiste */
    height: 20px;
    /* Höhe der Fortschrittsleiste */
    border: 1px solid #87B46A;
    /* Rahmen um die Fortschrittsleiste */
    background-color: #87B46A;
    /* Hintergrundfarbe der Fortschrittsleiste */
    border-radius: 15px;
    width: 441px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 50px;
    display: flex;

}

.fortschritt {
    height: 100%;
    width: 0;
    background-color: #37492B;
    /* Farbe des Fortschrittsbalkens */
}

/* Button stylen */

.neuenArtikelButton {
    width: 189px;
    height: 52px;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    margin: 50px 10px;
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
}

/* CSS für den Hover-Effekt */
.neuenArtikelButton:hover {
    background-color: #87B46A
        /* Hintergrundfarbe des Buttons bei Hover */
}

#logo {
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

/* Bild Pflanze mit Smile */
.containerSmile {
    align-items: end;
    width: 100%;
    height: auto;
}

/* Navigation links */
.menu a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-family: Gabarito;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu {
    display: flex;
}

/* On hover, the links will change color */
.menu a:hover {
    color: #87B46A;
}


@media screen and (max-width: 767px) {
    body {
        background: none;
        background-color: rgba(135, 180, 106, 0.5);
    }

    .containerMain{
        flex-direction: column;
    }

    .containerContent{
        padding-top: 50%;
        width: 100%;
    }

    .containerExtra{
        width: 100%;
    }
}