body {
    background: linear-gradient(to right, rgba(135, 180, 106, 0.5) 50%, transparent 50%);
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
}

.containerMain {
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.containerContent {
    width: 50%;
}

.containerExtra {
    width: 50%;
    display: flex;
    justify-content: center;
}

#progress {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background: #87B46A;
}

/* styles.css */
label {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

input {
    border: 2px solid #ccc;
    padding: 5px;
}

/* Weitere spezifische Stile für einzelne Textfelder, falls benötigt */
#nachname  {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background-color: transparent;
}

#vorname  {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background-color: transparent;
}

#email  {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background-color: transparent;
}

#passwordInput  {
    width: 360px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid var(--Bright-Green-medium, #87B46A);
    background-color: transparent;
}

#signUpButton {
    width: 189px;
    height: 52px;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    margin: 50px 10px;
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    color: #000;
    line-height: normal;
}

#nachname,
#vorname,
#email,
#passwortInput {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/* Ändere die Fonteinstellungen für den Platzhaltertext im Inputfeld */
#nachname::placeholder,
#vorname::placeholder,
#email::placeholder,
#passwordInput::placeholder {
    width: 220px;
    height: 26.264px;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}



/* CSS für den Hover-Effekt */
#signUpButton:hover {
    background-color: #87B46A
}

h1 {

    color: #000;
    font-family: Gabarito;
    font-size: 80px;
    font-weight: 900;

}

h2 {
    color: #000;
    font-family: Gabarito;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.containerContent p {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* Ladebalken */

.punktestand {
    width: 200px;
    /* Breite der Fortschrittsleiste */
    height: 20px;
    /* Höhe der Fortschrittsleiste */
    border: 1px solid #87B46A;
    /* Rahmen um die Fortschrittsleiste */
    background-color: #87B46A;
    /* Hintergrundfarbe der Fortschrittsleiste */
    border-radius: 15px;
    width: 441px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: 60px;
    display: flex;

}

.fortschritt {
    height: 100%;
    width: 0;
    background-color: #37492B;
    /* Farbe des Fortschrittsbalkens */
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo {
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

/* Navigation links */
.menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-family: Gabarito;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* On hover, the links will change color */
.menu a:hover {
    color: #87B46A;
}

.containerExtra {
        position: relative;
        width: 50%; /* 50% der Breite des Elternelements */
        height: auto; /* Automatische Anpassung der Höhe, um das Seitenverhältnis des Bildes zu erhalten */
      }
      
      .containerSmile img {
        max-width: 100%; /* Das Bild wird maximal 100% der Breite des containerSmile einnehmen */
        max-height: 100%; /* Das Bild wird maximal 100% der Höhe des containerSmile einnehmen */
      }
      
      .containerSmile {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      
    

@media screen and (max-width: 767px) {
    body {
        background: none;
        background-color: rgba(135, 180, 106, 0.5);
    }

    .containerMain {
        flex-direction: column;
        padding-top: 30%;
    }

    .containerContent {
        padding-top: 80%;
        width: 100%;
    }

    .containerExtra {
        width: 100%;
        padding-top: 85%;
    }
}